<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias alias="UserDTO" type="com.banshi.model.dto.UserDTO"/>
        <typeAlias alias="PostDTO" type="com.banshi.model.dto.PostDTO"/>
        <typeAlias alias="LoginLogDTO" type="com.banshi.model.dto.LoginLogDTO"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/mapper/user-mapper.xml"/>
        <mapper resource="mybatis/mapper/post-mapper.xml"/>
        <mapper resource="mybatis/mapper/login-log-mapper.xml"/>
    </mappers>
</configuration>